<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.robocore">

    <dist:module dist:instant="true" />

    <meta-data
        android:name="com.google.android.gms.wallet.api.enabled"
        android:value="true" />

<!--    android:hardwareAccelerated="false"-->
<!--    android:largeHeap="true"-->

    <application
        android:allowBackup="true"
        android:icon="@drawable/robocorelogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".qrCode"></activity>
        <activity
            android:name=".aboutPopUpRobocor"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name=".aboutPopUp"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity android:name=".two_member_registration" />
        <activity android:name=".three_member_registration" />
        <activity android:name=".four_member_registration" />
        <activity android:name=".ConatactUs" />
        <activity android:name=".sponsors" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".Team" />
        <activity android:name=".Events" />
        <activity android:name=".AboutRobocore" />
        <activity android:name=".AboutCorsit" />
        <activity android:name=".NavigationDrawer" />
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>