<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.corsit.robocore">

    <dist:module dist:instant="true" />

    <meta-data
        android:name="com.google.android.gms.wallet.api.enabled"
        android:value="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/robocorelogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/robocorelogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.corsit.robocore.newSponsers"></activity>
        <activity android:name="com.corsit.robocore.qrCode" />
        <activity
            android:name="com.corsit.robocore.aboutPopUpRobocor"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity
            android:name="com.corsit.robocore.aboutPopUp"
            android:theme="@style/AppTheme.PopUpTheme" />
        <activity android:name="com.corsit.robocore.two_member_registration" />
        <activity android:name="com.corsit.robocore.three_member_registration" />
        <activity android:name="com.corsit.robocore.four_member_registration" />
        <activity android:name="com.corsit.robocore.ConatactUs" />
        <activity android:name="com.corsit.robocore.sponsors" />
        <activity android:name="com.corsit.robocore.WelcomeActivity" />
        <activity android:name="com.corsit.robocore.Team" />
        <activity android:name="com.corsit.robocore.Events" />
        <activity android:name="com.corsit.robocore.AboutRobocore" />
        <activity android:name="com.corsit.robocore.AboutCorsit" />
        <activity android:name="com.corsit.robocore.NavigationDrawer" />
        <activity android:name="com.corsit.robocore.splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.corsit.robocore.MainActivity" />
    </application>

</manifest>